In [3]:
import pandas as pd
country = ["spain","france"]
population=["11","12"]

In [4]:
list_label =["country","population"]

In [5]:
list_col =[country,population]

In [6]:
zipped = list(zip(list_label,list_col))

In [7]:
data_dict = dict(zipped)
df = pd.DataFrame(data_dict)
df

  country population
0   spain         11
1  france         12

In [8]:
df["capital"] = ["madrid","paris"]
df

  country population capital
0   spain         11  madrid
1  france         12   paris

In [9]:
df["income"] = 0 #Broadcasting entire column
df

  country population capital  income
0   spain         11  madrid       0
1  france         12   paris       0

In [10]:
data1 = data.loc[:,["Attack","Defense","Speed"]]
data1.plot()

NameError: ignored

In [11]:
df["capital"] = ["madrid","paris"]
df

  country population capital  income
0   spain         11  madrid       0
1  france         12   paris       0

In [12]:
data = pd.read_csv('../input/pokemon.csv')
data= data.set_index("#")
data.head()

FileNotFoundError: ignored

In [13]:
data = pd.read_csv('pokemon.csv')
data= data.set_index("#")
data.head()

            Name Type 1  Type 2  HP  ...  Sp. Def  Speed  Generation  Legendary
#                                    ...
1      Bulbasaur  Grass  Poison  45  ...       65     45           1      False
2        Ivysaur  Grass  Poison  60  ...       80     60           1      False
3       Venusaur  Grass  Poison  80  ...      100     80           1      False
4  Mega Venusaur  Grass  Poison  80  ...      120     80           1      False
5     Charmander   Fire     NaN  39  ...       50     65           1      False

[5 rows x 11 columns]

In [14]:
data["HP"][1]

45

In [15]:
data.loc[1,["HP"]]

HP    45
Name: 1, dtype: object

In [16]:
data[["HP","Attack"]]

     HP  Attack
#
1    45      49
2    60      62
3    80      82
4    80     100
5    39      52
..   ..     ...
796  50     100
797  50     160
798  80     110
799  80     160
800  80     110

[800 rows x 2 columns]

In [17]:
print(type(data["HP"]))     # series
print(type(data[["HP"]]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [18]:
# Creating boolean series
boolean = data.HP > 200
data[boolean]

        Name  Type 1 Type 2   HP  ...  Sp. Def  Speed  Generation  Legendary
#                                 ...
122  Chansey  Normal    NaN  250  ...      105     50           1      False
262  Blissey  Normal    NaN  255  ...      135     55           2      False

[2 rows x 11 columns]

In [19]:
def div(n):
    return n/2
data.HP.apply(div)

#
1      22.5
2      30.0
3      40.0
4      40.0
5      19.5
       ...
796    25.0
797    25.0
798    40.0
799    40.0
800    40.0
Name: HP, Length: 800, dtype: float64

In [20]:
data1 = data.set_index(["Type 1","Type 2"]) 
data1.head(100)

                        Name   HP  Attack  ...  Speed  Generation  Legendary
Type 1 Type 2                              ...
Grass  Poison      Bulbasaur   45      49  ...     45           1      False
       Poison        Ivysaur   60      62  ...     60           1      False
       Poison       Venusaur   80      82  ...     80           1      False
       Poison  Mega Venusaur   80     100  ...     80           1      False
Fire   NaN        Charmander   39      52  ...     65           1      False
...                      ...  ...     ...  ...    ...         ...        ...
Poison NaN            Grimer   80      80  ...     25           1      False
       NaN               Muk  105     105  ...     50           1      False
Water  NaN          Shellder   30      65  ...     40           1      False
       Ice          Cloyster   50      95  ...     70           1      False
Ghost  Poison         Gastly   30      35  ...     80           1      False

[100 rows x 9 columns]

In [21]:
df1 = df.set_index(["treatment","gender"])
df1

KeyError: ignored

In [22]:
dic = {"treatment":["A","A","B","B"],"gender":["F","M","F","M"],"response":[10,45,5,9],"age":[15,4,72,65]}
df = pd.DataFrame(dic)
df

  treatment gender  response  age
0         A      F        10   15
1         A      M        45    4
2         B      F         5   72
3         B      M         9   65

In [23]:
dic = {"treatment":["A","A","B","B"],"gender":["F","M","F","M"],"response":[10,45,5,9],"age":[15,4,72,65]}
df = pd.DataFrame(dic)
df

  treatment gender  response  age
0         A      F        10   15
1         A      M        45    4
2         B      F         5   72
3         B      M         9   65

In [24]:
df.pivot(index="treatment",columns = "gender",values="response")

gender      F   M
treatment
A          10  45
B           5   9

In [25]:
df.pivot(index="treatment",columns = "gender",values="response")

gender      F   M
treatment
A          10  45
B           5   9